<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Iniciar Sesión</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="register">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Registro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recover">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Recuperar Contraseña</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-app>
