<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Bienvenido {{ username }} </strong><br>
    <strong>TeLlevoApp</strong><br>
    <img src="assets/images/logoduoc.png" alt="Descripción de la imagen" class="container-image"><br>
    <p>
        es la aplicación móvil exclusiva para estudiantes de Duoc UC que que te permite a  organizar tu viaje de manera eficiente.<br>
        A través de ella, los alumnos pueden conectarse con compañeros que tienen vehículos propios y coordinar viajes compartidos.<br>
        Sus principales atributos incluyen la <b>geolocalización</b> para facilitar encuentros, la posibilidad de crear <b>grupos de viaje</b>, y un <b>sistema de calificaciones</b> para asegurar la confianza y seguridad entre los usuarios. 
        Con esta solución, se busca optimizar el regreso a casa tras las clases, superando las dificultades de transporte nocturno.<br>
        disponible para Android e iOS
      </p>
      
    
  </div>
</ion-content>
